@*@model IEnumerable<EC_Ecom2.Models.Checkout.Cart>*@
@model EC_Ecom2.Models.Checkout.CartViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Din varukorg</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cart.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.SessionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cart.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cart.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cart.SessionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cart.UserId)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Cart.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cart.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cart.Id })*@
        </td>
    </tr>
}

</table>

<table>

  @foreach (var item in Model)
  {
    foreach (var cartItem in item.Cartitems)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => cartItem.Product.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => cartItem.Product.Price)
        </td>
        <td>
          @Html.DisplayFor(modelItem => cartItem.CartitemTotal)
        </td>
        <td>
          @Html.DisplayFor(modelItem => cartItem.Quantity)
        </td>
      </tr>
    }
  }

</table>